* {
    outline: 1px red dotted; 
}

body {
    margin: 0px;
}
.header {
    display: flex;
    font-size: 18px;
    justify-content: center;
    justify-content: space-between;
    /* background-color: #1f2937; */
    margin: 0px;
    padding: 16px
}

.header-links {
    
}

ul { 
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 32px
}


a {
    text-decoration: none;
    color: black;
}
